/* Filters at the top of the Search Page */
#SearchFilters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 60px 10px 10px 10px;
    background-color: #8BC6EC;
    background: rgb(165 181 36 / 30%);
    min-width: 290px;
}

.searchFilter--title{
    text-align: center;
}

/* List of games that appear towards the bottom of the Search Page */
.searchList_games{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 644px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    border: solid black 1px;
    background-image: url("../images/Wood-Background.jpg");
}

.searchList_games::-webkit-scrollbar{
    display:none;
}

/* Individual game cards that appear on the Search Page */
.game {
    min-width: 220px;
    border: solid black 1px;
    margin: 15px;
    padding: 5px;
    transform: translateY(5px);
    box-shadow: 3px 10px 20px #000000;
    border-radius: 5px;
    background: white;
}

.game__name{
    overflow-wrap: break-word;
}

.game__img {
    height: 150px;
    width: 150px;
    margin: auto;
    padding-bottom: 10px;
}

.game__img img {
    max-height: 100%;
    max-width: 100%;
}

/* The following are used to visually indicate the varying average user ratings */
.game__name, .game__img{
    text-align: center;
}