/* Filters at the top of the Hoard Page */
#HoardFilters fieldset {
    padding: 0;
}

#HoardFilters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 60px 0 0 50px;
    background: #E5F9E0;
    min-width: 290px;
}

/* List of games that appear towards the bottom of the Hoard Page */
.hoardList_games{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 644px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    border: solid black 1px;
    background-color: #283845;
    /* background-image: url("../images/Wood-Background.jpg"); */
}

.hoardList_games::-webkit-scrollbar{
    display:none;
}

/* Individual game cards that appear on the Hoard Page */
.game {
    min-width: 220px;
    border: solid black 1px;
    margin: 15px;
    padding: 5px;
    transform: translateY(5px);
    border-radius: 50px;
    background: white;
}

.game:hover{
    filter: drop-shadow(0 0 0.75rem rgb(197, 197, 197));
}