/* Filters at the top of the Hoard Page */
.HoardFilters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 60px 10px 10px 10px;
    background: rgb(219, 182, 114);
    min-width: 290px;
}

/* List of games that appear towards the bottom of the Hoard Page */
.hoardList_games{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 644px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    border: solid black 1px;
    background-image: url("../images/Wood-Background.jpg");
}

.hoardList_games::-webkit-scrollbar{
    display:none;
}