.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(61, 55, 55);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all .7s ease-in;
    min-width: 490px;
    width: 100%;
    position:fixed;
}



li a, #logout_button {
    display: block;
    background: rgb(61, 55, 55);
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    font-family:'Courier New', Courier, monospace;
  }

#logout_button:hover, li a:hover {
    background: rgb(143, 62, 62)
}